@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

body {
	min-height: 100vh;
	background-color: #0f172a;
}

::selection {
	background-color: #4f46e5;
	color: #f8fafc;
}
